@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    background-color: black;
}

#countdown1 {
    text-align: center;
    font-size: 10vw;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: white;
}

.small-countdowns {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 0;
    padding: 0;
}

#countdown2, #countdown3, #countdown4 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1;
}

#countdown2 {
    color: #e0e0e0;
}

#countdown3 {
    color: #9e9e9e;
}

#countdown4 {
    color: #535353;
}

h1 {
    text-align: center;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: white;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#background {
    width: 100vw;
    height: 100vh;
    opacity: 30%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
